{% extends "base.html" %}
{% block title %} Careers {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Careers</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="headline text-center">
                    
                    
                    <h2>Careers</h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Boost-up your career, join KCG India</h3>
                <p>At KCG India, you get the opportunity to boost up your career as we provide you a global platform where you enhance your skills and career. We are known for the Secure jobs that we give to our Employees. With Unmatched working environment and facilities that are a bliss to everyone working with us. Whether you are a Banker a financial analyst, IT Professional, Sales or marketing we have a perfect job for you. So you can go ahead and check the opportunities below and apply for the desired one.</p>

                <h3>Sales & Marketing</h3>
                <h4>JOB DESCRIPTION BUSINESS EXECUTIVE</h4>
                <h4> Designation: field executive Sales</h4>
                <ul>
                    <li> Industry: Finance </li>
                    <li> Experience: 0- 3 years or above </li>
                    <li> Location: (Gurugram) </li>
                    <li> Job Type: Full-time </li>
                    <li> Salary: 8000 k +incentives + conve. </li>
                </ul>


                <h4>JOB ELIGIBILITY</h4>
                <ul>
                    <li>  Candidates should belong to concerned local area only.</li>
                     <li>Job Profile includes local traveling and giving presentations.</li>
                     <li>The main responsibility of Executive is to motivate their agents to close sales.</li>
                     <li> Candidates must have bike and driving license too. </li>
                </ul>
                <h3>Management</h3>
                <h4>JOB DESCRIPTION: TEAM LEADER</h4>
                <h4>  Designation: Team Leader Sales</h4>
                <ul>
                    <li> Industry: Finance</li>
                    <li> Experience: 2-3 years or above</li>
                    <li> Location: (Gurugram)</li>
                    <li> Salary: 15000 k +incentives</li>
                    <li> Job Type: Full-time</li>
                </ul>


                <h4>JOB ELIGIBILITY</h4>
                <ul>
                    <li> Candidates with sales experience of min. 2 + YEARS</li>
                    <li> Candidates capable for handling Team of 10 – 15 Executives</li>
                    <li> Graduate in any Stream </li>
                    <li> Good communication skill </li>
                    <li> Ready to relocate </li>
                    <li> Candidates must have worked on similar sort of projects.</li>
                    <li> Candidates must be from Gurugram or surrounding area but ready to relocate</li>
                </ul>
                <h4>JOB DESCRIPTION: Area Manager</h4>
                <h4>  Designation: Area Manager</h4>
                <ul>
                     <li> Experience: 4 -5 years or above</li>
                     <li>Location: (Gurugram)</li>
                     <li>Salary: 30000 + incentives</li>
                     <li>Job Type: Full-time</li>
                </ul>


                <h4>JOB ELIGIBILITY</h4>
                <ul>
                    <li> Candidates with Management experience of min. 4 + YEARS</li>
                    <li> Candidates capable for handling team.</li>
                    <li> Post Graduates Only</li>
                    <li> Good communication skill </li>
                    <li> Ready to relocate </li>
                    <li> Candidates must have worked on similar sort of projects.</li>
                    <li> Candidates must be from Gurugram or surrounding area but ready to relocate.</li>
                </ul>
                

                   

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->

    

    <br>
    
    
    
</div><!-- PAGE CONTENT -->

{% endblock body %}