{% extends "base.html" %}
{% block title %} Communication Archives {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Communication Archives</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Communication <span>Archives</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="tabs">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-1-1" data-toggle="tab">Email Archives</a></li>
						<li><a href="#tab-1-2" data-toggle="tab">SMS Archives</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-1-1">

							<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="panel-group" id="accordion1">
					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1" aria-expanded="true">
									<span>Avoid Scams. Beware of Vishing</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse1-1" class="panel-collapse collapse in">
							<div class="panel-body">

								<img src="static/images/communication-archives/VishingMailer.png">

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->

					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2-1">
									<span>Beware of Covid 19 related Fraud</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse2-1" class="panel-collapse collapse">
							<div class="panel-body">

								<img src="static/images/communication-archives/CovidFraudMailer.png">

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->

					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3-1">
									<span>Follow these Cyber Security Tips</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse3-1" class="panel-collapse collapse">
							<div class="panel-body">

								<img src="static/images/communication-archives/CyberSecurityMailer3.png">

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->
					
					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion1" href="#collapse4-1">
									<span>5 Safe Practices</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse4-1" class="panel-collapse collapse">
							<div class="panel-body">

								<img src="static/images/communication-archives/CyberSecurityMailer3.png">

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->
					
				</div><!-- accordion -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->

						</div><!-- tab-pane -->












						<div class="tab-pane fade" id="tab-1-2">

							<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="panel-group" id="accordion2">
					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#collapse1-2" aria-expanded="true">
									<span>April 23, 2021</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse1-2" class="panel-collapse collapse in">
							<div class="panel-body">

								<p>Do not click on ITR e-filing links asking for personal data e.g. A/C no., PAN, Aadhaar, CVV, etc. Beware of such attempts by cyber criminals. KCG India Nidhi Ltd..</p>

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->

					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-2">
									<span>March 12, 2021</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse2-2" class="panel-collapse collapse">
							<div class="panel-body">

							  <p>Change ATM PIN frequently to avoid debit card related frauds. Call 0124-4006298. KCG India Nidhi Ltd.
							  </p>		
							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->

					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#collapse3-2">
									<span>February 20, 2021</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse3-2" class="panel-collapse collapse">
							<div class="panel-body">

								<p>Always use passwords that are hard to guess and unique for each of your online accounts. Never share your password with anyone. Stay Safe, KCG India Nidhi Ltd.

								</p>

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->
					
					<div class="panel">
						<div class="panel-heading">

							<h6 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion2" href="#collapse4-2">
									<span>January 15, 2021</span>
								</a>
							</h6>

						</div><!-- panel-heading -->
						<div id="collapse4-2" class="panel-collapse collapse">
							<div class="panel-body">

								<p>Do not use public devices, cyber cafes or unsecured open networks like public/free Wi-Fi for banking transactions. Stay safe. KCG India Nidhi Ltd.. 

								</p>
								

							</div><!-- panel-body -->
						</div><!-- panel-collapse -->
					</div><!-- panel -->
					
				</div><!-- accordion -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->

						</div><!-- tab-pane -->
						
						
					</div><!-- tab-content -->

				</div><!-- tabs -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	
	
</div><!-- PAGE CONTENT -->

{% endblock body %}