{% extends "base.html" %}
{% block title %} CSR {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(Static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">CSR</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="headline text-center">
                    
                    
                    <h2>Corporate Social Responsibility</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <p>KCG India  Welfare Foundation was incorporated in August 2010 and is registered under section 25 of companies’ act 1956 and aims to provide various services and products for the development and assistance to the underprivileged population in rural & urban sectors by way of market linkage opportunities, education, health and vocational training program. It aims at empowering grass root population especially women, making them self-reliant and transforming them into successful entrepreneurs.</p>

                <p>It aims to make a meaningful and sustainable impact in the lives of the community through a multi-pronged service oriented market led approach. It has initiatives that focuses on education, health, skill development, micro enterprise training & environment conservation.</p>

                <p>KCG India  Welfare Foundation aspires to be leading implementing agency and knowledge partner in the domain of social, welfare and CSR activities. It has partnerships with multiple industry leaders like ACCION, International Finance Corporation (IFC), SIDBI PSIG, Swiss Capacity Building Facility, Dutch Entrepreneurial Development Bank (FMO) and leading health service providers.</p>


                <p>Financial Education supported by KCG India  Nidhi Bank CSR:
                Financial education programs are aimed at building financial capabilities to enhance financial decision making process among the resource poor and financially excluded section in the underprivileged and under-served geographies through right information, instructions and advices. Total beneficiary outreach under Financial Education initiatives supported by KCG India  Nidhi Bank CSR has been 223,125 as on February, 2021.</p>

                <h3>Approaches and models for delivering Financial Education</h3> 
                <p>Models for delivering financial education and advisory services to the beneficiaries incorporates best practices in the domain through partnerships. Currently, KCG India  Welfare Foundation is implementing Financial Education initiatives with the support of KCG India  Nidhi Bank at 6 locations across Bihar, Madhya Pradesh, and Uttar Pradesh.</p>

                <h3>Class Room Training Approach:</h3>
                <p>This adopts Intensive approach towards the delivery of financial literacy to target population. Trainings are organized in small batch sizes of 20-25 and around 12 hours of inputs are given covering modules on financial planning, budgeting, savings, borrowings, investments, insurance, banking services and targeted govt. schemes. The methodology of training adopted is participatory & interactive. Audio-visuals, poster, banners, group discussion, role plays, exercises, games, and other participatory training tools and other aides used. Trainers effectively communicate and transmit the key messages to the participating women/men beneficiaries. Financial literacy training provided to achieve the desired objectives are delivered in 12 hours session spread across 3 days for each class room training for each batch. Total beneficiary outreach for the FY 2020-21 under Financial Literacy class-room trainings supported by KCG India  Nidhi Bank CSR has been 30,134.</p>

                <h3>Mass Awareness and Community Based Approach:</h3>
                <p>Mass Awareness program is a one-day program organized to introduce the subject to the masses (village communities) as well as to assess the response of the grass root beneficiaries in a particular area. It results in a clear understanding of the area of emphasis and the degree of emphasis required for bringing about the desired change. Campaigns focus more on audio visual aids to convey the key messages of the subject matter, viz., Financial Literacy, Government schemes rights and entitlements, etc. Target Groups includes entire village community, that is, around 50-200 including women and other members from their household especially male and older members who specially influence the financial decision making process.</p>

                <h3>Special Events and other programs under Financial Education</h3>
                <p>Financial Literacy Week Celebration:
                KCG India  Welfare Foundation celebrated Financial Literacy Week at second week of February from 10th – 15th 2020 with theme of “Consumer Protection”.</p>

                <h3>Dialogue on Business (DOB):</h3>
                <p>Financial Literacy for Micro and Small Business Entrepreneurs. Dialogue on Business (DOB) is an award-winning business skills training program developed by the knowledge partner, ACCION. It is based on adult learning principles, which draws from the knowledge and experience of program participants. It uses interactive games and role-playing tools to help participants solve real-life business challenges. The workshops are based on the real situations of participants, rather than textbook cases. DOB is found to be an interesting and engaging activity for people, even with little formal education, who may not learn effectively in a traditional classroom set-up. So far 2811 beneficiaries have successfully attended the DOB program.</p>

                <h3>Digital Financial Literacy:</h3>
                <p>KCG India  Welfare Foundation organised a mega camp and started implementing series of camps on digital financial literacy from the month of May 2017 and is continued across districts in Bihar & Uttar Pradesh. Currently the program is being run across 2 states Bihar & Uttar Pradesh. New training modules which includes flash cards, Audio visuals, Snake & Ladder game have been developed with technical core team members of KCG India  Welfare Foundation. The total 62,474 beneficiary has successfully attended the Digital Financial Literacy program as on February 2021.</p>

                <h3>Health Program</h3>
                <p>KCG India  Welfare Foundation’s health initiatives are intended to provide free Primary Health Services and awareness to the low income households in the targeted geographies. Outpatient diagnostic services with free medicine are being provided as a part of the initiative. Program is implemented in collaboration with select hospitals, ensuring quality health service under the strict supervision of healthcare professionals and practitioners. Two approaches viz. regular Poly Clinics through locations as well as Mobile Poly Clinics with route plan are being adopted for extending health services.</p>

                <h3>Mobile Van Polyclinic:</h3>
                <p>Mobile Polyclinics are organized to ensure that the benefits of health initiatives reaches to more number of patients. Mobile Vans equipped with professional medical practitioners and medicines covers the targeted geography.</p>

                <p>Started in August 2015 through 5 locations, the initiative is currently operational through 15 locations across (Kochas, Nokha, Kudra, Bhabhua, Ramgrarh, Satna, Maiher, Amarpatan, Mauganj, Kaptanganj, Tamkuhi Road, Siswa Bazar, Pipraich & Dudhai) districts of Bihar, Madhya Pradesh, and Uttar Pradesh respectively.</p>

                <p>The total patients’ outreach under Mobile Van Polyclinic is 43,833 as on February 2021.</p>

                <h3>Village Development Programme:</h3>
                <p>The Village development program aims to adopt integrated village development approach through self-reliance and capacity building, towards tackling rural poverty in a sustainable manner. Our approach to village adoption is reflexive, and socially relevant with an emphasis on moving from ideation to action. It has adopted a sector specific intervention. This includes selection and identification of villages which are in need of interventions to enhance their standard of living and then identifying the needs of villages through participatory gap assessment. Village development program envisages integrated and holistic development of identified villages in consultation with village community coupled with convergence of various development interventions.</p>

                <h3>Learning Enhancement Programme:</h3>
                <p>“Learning deficits seen in elementary school in previous years seem to carry forward as young people go from being adolescents to young adults,” (ASER report 2018 published by Pratham Education). The objective of the proposed Learning Enhancement Program is to encourage and improve language skills, numeracy skills and creativity among the rural children in the age group of 5 to 12 years.</p>

                <p>The initiative piloted in the month of June 2018 with 20 children in the Mahmadpura village of Arajilne block near Varanasi. Learning Enhancement Program is now currently being operated in 4 villages Deendaspur, Karnadadi, and Bhimchandi in Arrajiline block, Varanasi. A total of 130 Children have been enrolled in all four villages. Village development program envisages integrated and holistic development of identified villages in consultation with village community coupled with convergence of various development interventions.</p>

                <h3>Building Financial Capabilities:</h3>
                <p>The total outreach under village development program since inception is 8,017 beneficiaries.</p>

                <p>Plantation under Village Development Programme:
                30 saplings of mango, guava, pomegranate and lemon were planted in Mahmadpur & Dindaspur villages on 5th June 2020.</p>

                <p>Other initiatives (Supporting Homes for Special Children & Senior Citizen):
                Demonstrating ethos of charity, KCG India  Welfare Foundation has established regular engagements with the Old age homes & Orphanages. Voluntary participation is encouraged and visits are organized on monthly basis. As a token of goodwill gesture employees regularly distribute snacks, small gifts and food items.</p>

                <h3>Orphanages:</h3>
                <p>A home for abandoned and destitute children including those with special needs. The home has infants, children and boys and girls up-to the age of 22 years.</p>

                <h3>Old Age Home:</h3>
                <p>A home for the pure heart is a hospice for the sick, destitute and the dying. Adults including Senior citizens feel at home in these old age home.</p>

                   

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    
</div><!-- PAGE CONTENT -->

{% endblock body %}