{% extends "base.html" %}
{% block title %} Disclaimer {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Disclaimer</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="headline text-center">
					
					<p>Features</p>
					<h2>Disclaimer</h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

			  
				<hr>
				<p>The information and materials contained in the website - and the terms, conditions, and
			descriptions that appear - are subject to change. Not all products and services are available in all
			geographic areas. Your eligibility for particular products and services is subject to final KCG India
			Nidhi Limited determination and acceptance.</p>
			
			<p>KCG India Nidhi Ltd. makes no warranty or representation regarding any content provided through
			this website and disclaims its liabilities in respect thereof. Any action on your part on the basis of
			the said content is at your own risk and responsibility. KCG India reserves its right to correct any
			part of the said content at any time as and when required at its sole discretion. The content of
			this website shall not be displayed or printed in any form in part or whole without the prior
			written approval of KCG India.</p>

			<p>KCG India Nidhi Limited will not be liable under any circumstance for any damages, including
			without limitation direct or indirect, special, incidental, or consequential damages, losses or
			expenses arising in connection with this site or use thereof or inability to use by any party. It
			would also not be held responsible in connection with any failure of performance, error,
			omission, interruption, defect, delay in operation or transmission, computer virus or system
			failure, even if KCG India Nidhi limited, or representatives thereof, are advised of the possibility of
			such damages, losses or expenses. Hyperlinks to other internet resources are at your own risk;
			the content, accuracy, opinions expressed, and other links provided by these resources are not
			investigated, verified, monitored, or endorsed by KCG India Nidhi Limited.</p>

			<p>All information submitted to KCG India Nidhi Limited via this site shall be deemed and remain the
			property of KCG India Nidhi Limited. KCG India Nidhi Limited shall not be subject to any obligations
			of confidentiality regarding submitted information except as agreed by the KCG India Nidhi
			Limited, entity having the direct customer relationship or as otherwise specifically agreed or
			required by law.</p>
			
			<p>Any use or display of KCG India's logo, trade name, trademark, web content or material in any
			form is not permitted except with the prior written approval from KCG India Nidhi. The Bank
			reserves the rights to prosecute and take legal action of both civil and criminal against people /
			persons and/or entities who may be acting in any way purportedly on behalf of the Bank without
			its express permission and authorization.</p>


			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->

	
	

	
</div><!-- PAGE CONTENT -->

{% endblock body %}