{% extends "base.html" %}
{% block title %} Events {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content" style="padding-bottom:0px;">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);" style="margin-bottom:0px!important;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Events</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<section class="byond-sec">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>KCG India's <span>Events</span></h2>

					
				</div><!-- headline -->

			</div><!-- col -->
			

		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="byond-bx">
						<h2 class="byond-head">4th anniversary of JINL</h2>
						<ul>
							<li><span></span>4th April, 2021</li>
							<li><span></span>Mobile Banking Launch</li>
							<li><span></span>Internet Banking Launch</li>
							<li><span></span>Debit Card Launch</li>
						</ul>
						<div class="byond-txt">
							<p>KCG India completed the fourth anniversary of it's establishment on April 4th, 2021 and celebrated it with an event.<br>
							The event was marked by the launch of new milestones for the company.
							The launch of Mobile Banking and internet banking facility as well as the launch of their Debit Card happnened at the event</p>
							<a href="gallery" class="btn btn-primary">View More</a>
						</div>
					</div>
				</div>
				<div class="col-md-offset-0 col-md-6 col-sm-offset-1 col-sm-10">

				<div class="owl-carousel images-slider-horizontal">
					<div class="item">
						<img src="static/images/events/1.jpg" alt="">
					</div><!-- item -->
					<div class="item">
						<img src="static/images/events/2.jpg" alt="">
					</div><!-- item -->
					<div class="item">
						<img src="static/images/events/3.jpg" alt="">
					</div><!-- item -->
					<div class="item">
						<img src="static/images/events/4.jpg" alt="">
					</div><!-- item -->
				</div><!-- images-slider-horizontal -->

			</div><!-- col -->
			</div>
		</div>
	</section>
	
</div><!-- PAGE CONTENT -->

{% endblock body %}