{% extends "base.html" %}
{% block title %}Fair Practice Code{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Corporate Governance</a></li>
                        <li class="active">Fair Practice Code</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="headline text-center">
                    
                    
                    <h2>Fair Practice <span>code</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    <div class="container">
        
        <h3>As approved by the board of directors.</h3><br>
        <h3>A) PREAMBLE / INTRODUCTION</h3>

        <p>The Fair Practice Code (FPC) has been formulated by KCG India Nidhi Ltd (the Company) with a view to institute fairness and healthy practice of the business of the
        Company and thereby creating cordial relationship between the Company and customer and to foster confidence in the investment service system.</p>

        <p>The FPC will be applicable to all the offices of the Company including the Head Office, Gurgaon, Harayana the Regional Offices located in various centres and
        the Branches located across Delhi and Harayana. The FPC shall be binding on all the employees and officers of the Company.</p>

        <p>In this code, the word “customer” shall also mean “share holder*/member of the Company and vice-versa.</p>

        <h3>B) OBJECTIVES</h3>

        <p>The objectives of the FPC are as under.</p>

        <p>i) Adopt the best practices in dealings with customers.<br>

        ii) Set challenging benchmarks and strive to achieve high operating standards for ensuring customer satisfaction.<br>

        iii) Follow transparent, fair, ethical and legally tenable practices while conducting business.,<br>

        iv) Provide all necessary information and inputs to customers / prospective customers and promote a mutually beneficial long term relationship.<br>

        v) Facilitate a continuously growing base of satisfied customers while scrupulously avoiding acquisition of customers having doubtful credentials<br>
        or criminal background.</p>

        <h3>C) DECLARATIONS & COMMITMENTS</h3>

        <p>i) The Company undertakes to abide by all applicable laws, regulations and guidelines passed / issued by the Regulators and other competent authorities.<br>
        ii) The Company commits itself to full customer satisfaction through efficient, professional and courteous services across all its offices.<br>

        iii) The Company shall consistently strive to meet with and improve upon the internally set benchmarks and practices and be ahead of the standards
        prevalent in the industry.<br>

        iv) The Company undertakes not to discriminate customers on grounds of religion, caste, gender or language.<br>

        v) The Company will provide clear and full information about its products and services to its customers / prospective customers and will not resort to any
        misleading or potentially misguiding advertisement or publicity,<br>

        vi) The Company undertakes to desist from introducing any products / services having elements of ‘hidden charges’ or lack of transparency.<br>
        vii) The Company will communicate in the local language with the customer and in English at the request of the customer<br>

        viii) The Company undertakes to take all possible and reasonable measures to secure the safe custody of the security pledged by the customer and to compensate
        the customer for any accidental, inadvertent or fraudulent loss of the security whilst in the custody of the Company.<br>

        ix) The Company undertakes not to take advantage of any unintentional or clerical error made by the customer while transacting business.<br>

        x) The Company is committed to put in place a system for promptly addressing complaints and suggestions of the customers supplemented with a structured
        Grievance Redressal Mechanism having an escalation matrix.<br>

        xi) The Company shall display the FPC on all the places of its operation and also make available to the Customer, on request, a copy of the FPC on demand.<br></p>

        <h3>D) FAIR PRACTICES</h3>

        <h4>(I) LOANS, TERMS & CONDITIONS, INTEREST RATE & CHARGES</h4>

        <p>i) The Company shall make available loan application forms in local language to all prospective customers free of cost at the concerned branches mentioning also
        the supporting documents to be submitted along with. An acknowledgement for receipt of duly completed loan application forms will be given to the customer

        in all cases. As a matter of policy and customer service loan applications are sanctioned / rejected immediately. Disbursement of the loan and acceptance of security
        will be carried out nearly simultaneously.<br>

        ii) The Company shall disclose all relevant information relating to a loan / product such as eligible loan amount, interest rate, charges, penal/overdue interest, interest
        calculation methodology, rebate on interest etc, before sanction of the loan to enable the customer / prospective customer to take an informed decision.
        The Customer / prospective customer will also be provided, on request, the detailed terms and conditions of the loan before sanction.<br>

        iii) The Company shall ensure that a loan sanction letter is given to the customer containing all the terms and conditions governing the loan facility in the local
        language or other language understood by the customer. The loan sanction letter will also mention the loan amount, loan account number, interest rate, charges,
        loan processing fees etc, The loan sanction letter which will bear the signature of the authorized official of the company will also serve as a receipt for the security
        pledged at the branch by the customer.<br>

        iv) The Company shall not in the normal course make any changes / modifications in the terms and conditions of the loan, including rate of interest, which could
        adversely affect the customer financially or otherwise. In abnormal circumstances when such changes / modifications are inevitable, keeping in view the new
        circumstances, adequate and proper notice shall be given to the customer about any such change/modification.<br></p>
        <h4>(Il) MARKETING & PROMOTION</h4>

        <p>i) The Company shall not issue or cause to be issued any advertisement in press or media or any other form soliciting deposits or giving loans. However Company
        will privately circulate among its shareholders the details of deposit schemes/loans etc.<br>

        ii) The Company will not indulge in profiteering by charging usurious rates of interest on loans or take undue advantage of adverse market conditions. The rates

        of interest will be based on variables such as cost of funds, risk premium, loan scheme, loan per gram, profit margin etc. and shall be in conformity with the Interest
        Rate policy of the Company and Regulatory Guidelines from time to time. It shall also, by and large, be in tune with

        industry practices and benchmarks.<br>

        iii) Full and updated information regarding loan schemes, rate of interest, loan per gram, charges etc. will be displayed in the branches. Complete or select
        information will also be made available to the members through private circulation from time to time.</p>

        <h4>(III) RECOVERY OF DUES, EXERCISE OF LIEN & DELIVERY OF SECURITY</h4>

        <p>i) The Company will not, as a matter of fair dealing, normally recall the loan before the initially agreed tenure except in unanticipated or abnormal
        circumstances where the Company's interests are adversely affected e.g. when the security value diminishes substantially, when the quality of security
        is not found to be acceptable, due to any regulatory / government directives etc. In all such cases proper and reasonable notice shall be given to the
        customer recalling the loan before expiry of the normal tenure.<br>

        ii) The Company will make all possible soft or persuasive efforts to get the customer to repay the dues without resorting to disposal of the security.
        The Company does not accept nor will it encourage the use any coercive or hard measures to recover its dues from the customer.<br>

        iii) The Company will deliver the security to the customer immediately upon settlement of the loan in the same condition as was at the time of
        sanction of the loan. In case of any damage caused to the security due to mishandling by its employees, the Company shall at its cost get the damage
        repaired or alternately pay reasonable compensation to the customer on a case to case basis. If the security has signs of damage thereon, before being
        taken custody of by the Company at the time of sanction of loan, the fact will be briefly incorporated in the sanction letter.<br>

        iv) The Company will exercise only legitimate right of lien over the pledged security or such cash surplus as may arise upon settlement of existing
        loans at any time. Such right of lien shall arise only if the customer has any other dues, either directly or as guarantor, and will be subject to proper
        intimation of such right of lien being given to the customer by the Company.<br>

        v) The Company shall issue a signed and, normally, a system generated receipt for all cash payments made by the customer immediately. The Company shall
        also accept payments vide cheques, demand drafts, electronic transfers etc. subject to the condition that return of the security will be made only after confirmation
        of realization.<br>

        vi) Even though the loan sanction letter contains all applicable terms and conditions of the loan the Company shall, nevertheless, endeavour, on a best
        effort basis, to send advices, reminders etc. regarding due date for payment of interest, principal etc. by letter, courier service, telephone , SMS etc.<br>

        vii) The Company shall, on demand, provide the customer or his duly authorized representative with a statement of the loan account at any time during the
        currency of the loan or immediately upon closure, However, the Company may, at its discretion, require payment of reasonable processing charges by the
        customer for providing statement of account if such demand is made 30 calendar days after closure of the account.<br>

        viii) The Company will resort to disposal of security only as a last resort and that too after adequate and proper notice is served on the customer to repay the
        dues. Such notice will be as per the terms contained in the sanction letter and also in compliance with applicable laws and regulatory guidelines. The disposal
        of the security will be taken up through public auction when the customer does not positively respond to the communications sent by the Company to close
        the loan account along with interest and other charges.<br>

        ix) Where the Company proposes to dispose of the security even before the normal tenure of the loan based on the rights conferred on the Company vide loan
        application and loan sanction letter adequate and proper notice will be served on the customer before such action is initiated for recovery of dues.<br>

        x) The Company prefers and encourages customers to take back delivery of the security immediately upon full settlement of all dues. However, should there be
        exceptional instance of the Customer being unable to take delivery of the security, not attributable to the inability of the Company, after closure of the loan
        account reasonable safe custody charges may be payable which will be duly advised to the customer or displayed in the branch premises and the Company's
        website,<br>

        xi) The Company will not interfere in the affairs of the customers except for the purposes mentioned in the terms & conditions of he loan or when constrained
        to do so due to inadequate or false disclosures made by the borrower at the time of putting through the transactions.</p>

        <h4>(IV) CUSTOMER SERVICE & GRIEVANCE REDRESSAL</h4>
        <p>i) The Company will implement all possible steps to prevent and minimize customer complaints / grievances<br>

        ii) The Company will facilitate the customer to pay the whole or part of the dues at any of the branches of the Company subject to the condition that delivery
        of the pledged security shall be made only at the branch where loan was originally disbursed.<br>

        iii) The Company will put in place an effective Customer Grievance Redressal mechanism details of which will be displayed on the website and in all the branches.
        The mechanism will specify interalia the names & designations of the officials with whom complaints can be registered, their postal address / telephone numbers/
        email address, escalation matrix, time limit for acknowledging receipt of complaint, time limit for dealing with the complaint etc.<br>

        iv) The Company will put in place an effective training system to ensure that employees of the Company are customer friendly and do not resort to rude,
        inappropriate or unethical behavior.<br>

        v) The Company will endeavour to work out and display the time norms for putting through and completing the various transactions.<br>

        vi) The Company will have a sympathetic approach to the problems faced by the customer especially the poor and underprivileged sections,<br>

        <h4>(V) MISCELLANEOUS</h4>

        <p>i) The Company shall display the normal business hours at the respective branches, the list of holidays and notify the changes, if any, by way of a notice
        displayed in the premises of the branch or through press notification.<br>

        ii) Personal information of the customer will not be shared with unauthorized persons or agencies or third parties by the Company. However, the Company will
        be bound to honour and comply with legal or regulatory requirements, if any, in this matter obligating it to part with such information even without notice to
        the customer.<br></p>
    </div>
    
</div><!-- PAGE CONTENT -->

{% endblock body %}