{% extends "base.html" %}
{% block title %}FAQ{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Frequently Asked Questions</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="headline text-center">
                    
                    
                    <h2>Frequently Asked <span>Questions</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="panel-group" id="accordion1">
                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1" aria-expanded="true">
                                    <span>Can we open Savings Account(SB) with the bank?
                                    </span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse1-1" class="panel-collapse collapse in">
                            <div class="panel-body">

                            <p>Microbanking loans are extended to individual in the group formed by them. The group members shall satisfy the underwriting criteria prescribed by the Bank for being eligible for the loan.</p>
                                
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->

                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse2-1">
                                    <span>Do we need to come to the bank branch for availing disbursements?</span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse2-1" class="panel-collapse collapse">
                            <div class="panel-body">

                            <p>The loans shall be credited to your SB account. You can withdraw the amount at your convenience at your doorstep. Further, You can also visit the nearby Banking Unit of the Bank to draw cash from your SB account.</p>
                                
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->

                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse3-1">
                                    <span>Can we open SB account, in case we don't want to borrow?</span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse3-1" class="panel-collapse collapse">
                            <div class="panel-body">
                            
                            <p>Yes, you can open only SB account.</p>
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->
                    
                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse4-1">
                                    <span>How will bank decide my home loan eligibility?
                                    </span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse4-1" class="panel-collapse collapse">
                            <div class="panel-body">
                            <p>Loan eligibility is based on your monthly disposable / surplus income.</p>
                                
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->
                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse5-1">
                                    <span>What is the minimum and maximum age to apply for a home loan?
                                    </span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse5-1" class="panel-collapse collapse">
                            <div class="panel-body">
                            <p>Minimum age of the borrower should be 23 years.</p>

                            <p>Maximum age at loan maturity to be 65 years or retirement age, whichever is earlier.</p>
                                
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->
                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse6-1">
                                    <span>How much time does the bank require to process the loan?
                                    </span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse6-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>After receipt of all relevant documents/papers/information from the prospective customer, Bank will intimate its decision for sanction/rejection of loan proposal within maximum seven – ten working days.</p>

                        
                                
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->

                    <div class="panel">
                        <div class="panel-heading">

                            <h6 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion1" href="#collapse7-1">
                                    <span>What is the minimum and maximum loan one can borrow?
                                    </span>
                                </a>
                            </h6>

                        </div><!-- panel-heading -->
                        <div id="collapse7-1" class="panel-collapse collapse">
                            <div class="panel-body">
                            <p>loan ticket size above Rs. 1 – 10 lakh.</p>
                                
                            </div><!-- panel-body -->
                        </div><!-- panel-collapse -->
                    </div><!-- panel -->

                </div><!-- accordion -->
                
                

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    
    
</div><!-- PAGE CONTENT -->

{% endblock body %}