{% extends "base.html" %}
{% block title %} Financial Literacy Week 2021 {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Financial Literacy Week 2021</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="headline text-center">
                    
                    
                    <h2>Financial Literacy Week <span>2021</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    <hr>
    <div class="container literacy">
        <div class="row">
            <div class="col-sm-12">

                <h2>Hindi</h2>

                   <p><a href="financial-literacy-week-2021/h1.pdf" target="_blank">Borrowing from Formal Institutions only</a></p>

             
                <p><a href="financial-literacy-week-2021/h2.pdf" target="_blank">Responsible Borrowing</a></p>

             
                <p><a href="financial-literacy-week-2021/h3.pdf" target="_blank">Timely Repayment and Credit Score</a></p>


            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->

    <hr>
    <div class="container literacy">
        <div class="row">
            <div class="col-sm-12">

                <h2>English</h2>

                   <p><a href="financial-literacy-week-2021/1.pdf" target="_blank">Borrowing from Formal Institutions only</a></p>

             
                <p><a href="financial-literacy-week-2021/2.pdf" target="_blank">Responsible Borrowing</a></p>

             
                <p><a href="financial-literacy-week-2021/3.pdf" target="_blank">Timely Repayment and Credit Score</a></p>


            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->


  
    
    
    
</div><!-- PAGE CONTENT -->

{% endblock body %}