{% extends "base.html" %}
{% block title %}Fixed Deposit{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Deposit Schemes</a></li>
                        <li class="active">Fixed Deposit</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="headline text-center">
                    
                    
                    <h2>Fixed <span>Deposit</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
     <div class="container tabl">
         <h3>KCG India Fixed Deposit (FD)</h3><br>
         <!-- <div class="hr default-color"><br> -->
         <p>The Primary objective of our institution is to cultivate the habit of savings among our members. Our first and foremost aim is to satisfy our members and create mutuality among them. The KCG India Nidhi Limited is fully financial services company. We accept deposits from our shareholders within the stipulated norms issued by the Ministry of Corporate Affairs and Reserve Bank of India (RBI).
        Nomination facility is available for deposits. There can be only one Nominee for a deposit account whether held singly or jointly. Applicants can make a nomination by filling up the prescribed form. The nomination details can be changed during the subsistence of the account relationship by filling up the prescribed form</p>
         <h3>Interest Rates On Domestic Deposits</h3>
         <table class="table text-center">
                                                            <tbody>
                                                                <tr class="blug headerrow">
                                                                    <td><strong>Sr. No.</strong></td>
                                                                    <td><strong>Time Period</strong></td>
                                                                    <td colspan="2"><strong>General</strong></td>
                                                                    <td colspan="2"><strong>Senior Citizen</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td><strong>Open Ended</strong></td>
                                                                    <td><strong>Close Ended</strong></td>
                                                                    <td><strong>Open Ended</strong></td>
                                                                    <td><strong>Close Ended</strong></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>06 Months > 12 Months</td>
                                                                    <td>6.50%</td>
                                                                    <td>6.50%</td>
                                                                    <td>7.00%</td>
                                                                    <td>7.00%</td>
                                                                    
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>12 Months < 24 Months</td>
                                                                    <td>8.10%</td>
                                                                    <td>8.10%</td>
                                                                    <td>8.60%</td>
                                                                    <td>8.60%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td>24 Months < 36 Months</td>
                                                                    <td>8.20%</td>
                                                                    <td>9.20%</td>
                                                                    <td>8.70%</td>
                                                                    <td>9.70%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>4</td>
                                                                    <td>36 Months < 48 Months</td>
                                                                    <td>7.85%</td>
                                                                    <td>8.85%</td>
                                                                    <td>8.35%</td>
                                                                    <td>9.35%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>5</td>
                                                                    <td>48 Months < 60 Months </td>
                                                                    <td>7.70%</td>
                                                                    <td>8.70%</td>
                                                                    <td>8.20%</td>
                                                                    <td>9.20%</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>6</td>
                                                                    <td>60 Months</td>
                                                                    <td>7.60%</td>
                                                                    <td>8.60%</td>
                                                                    <td>8.10%</td>
                                                                    <td>9.10%</td>
                                                                </tr>
                                                            </tbody>
        </table>		
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="tabs vertical-tabs style-2">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-5-1" data-toggle="tab"><i class="glyphicon glyphicon-list">
                            
                        </i> Terms and Conditions</a></li>
                        <li><a href="#tab-5-3" data-toggle="tab"><i class="glyphicon glyphicon-check"></i> Eligibility Criteria</a></li>
                        <li><a href="#tab-5-4" data-toggle="tab"><i class="glyphicon glyphicon-file"></i> Documents Required</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-5-1">

                            <p>
                                <ul>

                                <li><strong>KCG India Nidhi Limited</strong> offers various <strong>fixed deposit plans</strong> to our enrolled members. Below are some terms &amp; conditions if you too want to be a part:The minimum amount accepted for deposit is<strong> Rs. 10000/-</strong> with an additional amount in multiples of 10000.
                                </li>

                                
                                <li>The fixed deposit schemes shall be accepted for a minimum period of 6 months and a maximum <strong>period of 60</strong> months. Payment mode will be either in cash or cheque <strong>(payment up to Rs. 20,000/-</strong> to be accepted in cash) Withdrawal before Maturity The Company shall not return/pay back any deposit within a period of three months from the date of its acceptance. On pre-maturity request by the depositor, after three months of the deposit, the depositor shall not be entitled to any interest up to the period of six months from the date of deposit.</li> 

                                <li>As per Nidhi Act 2014, Members can give closure request after six months of fixed deposit.</strong></li>
                                <li>TDS rates will be as applicable from time  to time as per the Income Tax Act, 1961 and Income Tax rules calculation of TDS in respect of interest on FD/RD or DD</li>
                                <li>Preclosure or foreclosure is not permissible in case of Closed-Ended FD,DD, RD and Unnati</li>
                                
                            </ul>
                                                                

                        </p>

                        </div><!-- tab-pane -->
                        
                        <div class="tab-pane fade" id="tab-5-3">

                            <p>
                                
                            <ul><li>None</li>
                             </ul>  </p>

                        </div><!-- tab-pane -->
                        <div class="tab-pane fade" id="tab-5-4">

                            <p>
                                <ul>
                            <li>ID PROOF (Any one)– PAN CARD / PASSPORT/ VOTER ID CARD/ AADHAR CARD / DRIVING LICENSE </li>
                            <li>Local Address Proof – Required</li>
                            <li>Permanent Address Proof (Any one)– VOTER ID CARD/ AADHAR CARD/ PASSPORT/ RATION CARD / ELECTRICITY/ANY UTILITY BILL/ MOBILE BILL/ GAS CONNECTION WITH LATEST SLIP/ RENT AGREEMENT </li>
                                </ul>
                            </p>

                        </div><!-- tab-pane -->
                    </div><!-- tab-content -->

                </div><!-- tabs -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
 

    <section class="full-section half-image" style="padding:100px 0 80px; margin-bottom:0;">
        
        <div class="half-image-left parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/loans/fd.jpg);">
            
            <img src="static/images/loans/fd.jpg" alt="">
            
        </div><!-- half-image-left -->
    
        <div class="full-section-container">
        
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-7 col-md-4">
                    
                        <div class="headline">
                    
                            
                            <h2>Move one step closer <span>to your dream</span></h2>
                            
                        </div><!-- headline -->
                        
                        <p>Deposit with KCG India's Fixed Deposit Plans, one of India’s driving Nidhi companies, today.</p>
                        
                        <br>
                        
                        <a class="btn btn-default" href="#">Apply Now</a>
                        
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->
            
        </div><!-- full-section-container -->
    </section><!-- full-section -->


    
                
</div><!-- PAGE CONTENT -->

{% endblock body %}