{% extends "base.html" %}
{% block title %} Forms {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Forms</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="headline text-center">
					
					
					<h2>Forms <span></span></h2>
					<p>View all the forms of the bank in one convenient location</p>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container pdf-i" style="margin-bottom:4em;">
		<div class="row">
			<div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/FD,RD,DD-application-form.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>
						FD/RD/DD application form</a>
					</div>
				</div>
			</div><!-- col -->
		

   
			<div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/FD-closure-request.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>
						FD Closure Request</a>
					</div>
				</div>
			</div><!-- col -->
	 

			   <div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/fund-tansfer-request-form.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Fund Transfer Request Form</a>
					</div>
				</div>
			</div><!-- col -->
				
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/internet-banking-form.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>
						Internet Banking Form </a>
					</div>
				</div>
			</div><!-- col -->
		

   
			<div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/jayant-unnati-form.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>
						KCG Unnati Form</a>
					</div>
				</div>
			</div><!-- col -->
	 

			<div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/account-closure-request.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Account Closure Request</a>
					</div>
				</div>
			</div><!-- col -->
			<div class="col-sm-12">
				<div class="boxx">
					
					<div>
						<a href="static/forms/address-change-contact-updation-letter.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Address Change Contact Updation Request</a>
					</div>
				</div>
			</div><!-- col -->
				
		</div><!-- row -->
	</div><!-- container -->
	
</div><!-- PAGE CONTENT -->

{% endblock body %}