{% extends "base.html" %}
{% block title %} Gallery {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content" style="padding-bottom:0px;">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);" style="margin-bottom:0px!important;">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Gallery</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<section class="byond-sec1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Gallery <span></span></h2>

					
				</div><!-- headline -->

			</div><!-- col -->
			</div>
		</div>
			
			

		<div class="container">
		<div class="row">
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/1.jpg" data-fancybox="gallery"><img src="static/images/galleries/1.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/2.jpg" data-fancybox="gallery"><img src="static/images/galleries/2.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/17.jpg" data-fancybox="gallery"><img src="static/images/galleries/17.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/3.jpg" data-fancybox="gallery"><img src="static/images/galleries/3.jpg" alt=""></a></p>
				
			</div><!-- col -->
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/4.jpg" data-fancybox="gallery"><img src="static/images/galleries/4.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/5.jpg" data-fancybox="gallery"><img src="static/images/galleries/5.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/6.jpg" data-fancybox="gallery"><img src="static/images/galleries/6.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/7.jpg" data-fancybox="gallery"><img src="static/images/galleries/7.jpg" alt=""></a></p>
				
			</div><!-- col -->
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/8.jpg" data-fancybox="gallery"><img src="static/images/galleries/8.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/17.jpg" data-fancybox="gallery"><img src="static/images/galleries/17.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/18.jpg" data-fancybox="gallery"><img src="static/images/galleries/18.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/11.jpg" data-fancybox="gallery"><img src="static/images/galleries/11.jpg" alt=""></a></p>
				
			</div><!-- col -->
		</div><!-- row -->
		<div class="row">
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/12.jpg" data-fancybox="gallery"><img src="static/images/galleries/12.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/13.jpg" data-fancybox="gallery"><img src="static/images/galleries/13.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/14.jpg" data-fancybox="gallery"><img src="static/images/galleries/14.jpg" alt=""></a></p>
				
			</div><!-- col -->
			<div class="col-sm-3">
				
				<p><a class="fancybox" href="static/images/galleries/15.jpg" data-fancybox="gallery"><img src="static/images/galleries/15.jpg" alt=""></a></p>
				
			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	</section>
	
</div><!-- PAGE CONTENT -->

{% endblock body %}