{% extends "base.html" %}
{% block title %}Gold Loan{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Loans</a></li>
                        <li class="active">Gold Loan</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                
                <div class="headline text-center">
                    
                    
                    <h2>Gold <span>Loan</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
     <div class="container">
         <h3>KCG India Gold Loan Policy</h3><br>
         <!-- <div class="hr default-color"><br> -->
         <p>KCG India Nidhi, one of India’s driving Nidhi Companies in Gurgaon offers a hazzle-free approach to gold loans in Haryana.</p>
         <p>We offer gold credit plans with the accommodation of your gold adornments at your closest branches of KCG India Nidhi Limited. The credit sum will be offered according to the estimation of your gold gems which will be evaluated by the virtue of your gold adornments (the range in karat 18K to 24 K). We can guarantee you the wellbeing and the right estimation of significant worth for your gold, without you being stressed over any sort of dangers included. We regard your gold as our commitment so you don’t have to worry about the accommodation whenever. We work for best gold credit administrations to influence you to understand that despite the fact that you don’t discover anybody that think about your fantasies, we can offer you a hand to help you and accomplish that fantasy together.</p>
     </div>

    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="tabs vertical-tabs style-2">

                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-5-1" data-toggle="tab"><i class="glyphicon glyphicon-list">
                            
                        </i> Features</a></li>
                        <li><a href="#tab-5-2" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> Rates & Charges</a></li>
                        <li><a href="#tab-5-3" data-toggle="tab"><i class="glyphicon glyphicon-check"></i> Eligibility Criteria</a></li>
                        <li><a href="#tab-5-4" data-toggle="tab"><i class="glyphicon glyphicon-file"></i> Documents Required</a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab-5-1">

                            <p>

                            <ul>
                            <li>Loan amount starts from ₹5,000</li>

                            <li>Free locker benefit to keep your gold safe and secure</li>

                            <li>Exclusive tamper-proof bags to store your gold safely</li>  

                            <li>Comfortable repayment with upfront interest/monthly interest/equated monthly installments</li> 

                            <li>Flexible repayment tenure – 6 to 36 months.</li>

                            <li>Minimal documentation.</li> 

                            <li>Quick loan disbursement.</li>

                        </ul></p>

                        </div><!-- tab-pane -->
                        <div class="tab-pane fade" id="tab-5-2">

                            <p>
                                <ul>
                            <li>Loan Amount = 5000 to 1,00,000.
                            <li>Term = 5 Yrs.
                            <li>ROI = 12% to 19 % annually.
                            
                            <li>Only interest deposit paying facility available.
                            <li>Loan Facility available on your gold value.
                            <li>GOLD CATEG0RY 18 / 22 / 24 Carat.
                                </ul>
                            </p>

                        </div><!-- tab-pane -->
                        <div class="tab-pane fade" id="tab-5-3">

                            <p>
                                
                                <ul>Age: 

                            <li>Minimum – 18 years </li>

                            <li>Maximum – 55 years </li> </ul>  </p>

                        </div><!-- tab-pane -->
                        <div class="tab-pane fade" id="tab-5-4">

                            <p>
                                <ul>
                            <li>ID PROOF (Any one)– PAN CARD / PASSPORT/ VOTER ID CARD/ AADHAR CARD / DRIVING LICENSE </li>
                            <li>Local Address Proof – Required</li>
                            <li>Permanent Address Proof (Any one)– VOTER ID CARD/ AADHAR CARD/ PASSPORT/ RATION CARD / ELECTRICITY/ANY UTILITY BILL/ MOBILE BILL/ GAS CONNECTION WITH LATEST SLIP/ RENT AGREEMENT </li>
                                </ul>
                            </p>

                        </div><!-- tab-pane -->
                    </div><!-- tab-content -->

                </div><!-- tabs -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
 

    <section class="full-section half-image" style="padding:100px 0 80px; margin-bottom:0;">
        
        <div class="half-image-left parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/loans/gg.jpg);">
            
            <img src="static/images/loans/gg.jpg" alt="">
            
        </div><!-- half-image-left -->
    
        <div class="full-section-container">
        
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-offset-7 col-md-4">
                    
                        <div class="headline">
                    
                            
                            <h2>Move one step closer <span>to your dream</span></h2>
                            
                        </div><!-- headline -->
                        
                        <p>Use your gold to fulfill your finances by applying for a hassle-free loan from KCG India, one of India’s driving Nidhi companies, today.</p>
                        
                        <br>
                        
                        <a class="btn btn-default" href="#">Apply Now</a>
                        
                    </div><!-- col -->
                </div><!-- row -->
            </div><!-- container-fluid -->
            
        </div><!-- full-section-container -->
    </section><!-- full-section -->
    

    
</div><!-- PAGE CONTENT -->

{% endblock body %}