{% extends "base.html" %}
{% block title %} Important Notices {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Important Notices</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="headline text-center">
					
					
					<h2>Important <span>Notices</span></h2>
					<p>View all the latest notices of the bank in one convenient location</p>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container pdf-i" style="margin-bottom:4em;">
		<div class="row">
			<div class="col-sm-12">
				<div class="boxx">
					<h4>Notice: October 10, 2020</h4>
					<div>
						<a href="static/rbi-advisory/2011.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>
						No charges on NEFT initiated through Internet banking and app for all savings account product variants.</a>
					</div>
				</div>
			</div><!-- col -->
		

   
			<div class="col-sm-12">
				<div class="boxx">
					<h4>Notice: May 28, 2020</h4>
					<div>
						<a href="static/rbi-advisory/2010.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Misuse of the Bank's logo by fraudulent websites.</a>
					</div>
				</div>
			</div><!-- col -->
	 

			   <div class="col-sm-12">
				<div class="boxx">
					<h4>Notice: May 3, 2019</h4>
					<div>
						<a href="static/rbi-advisory/201026.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Notice for changes in debit card issuance fees and annual fees.</a>
					</div>
				</div>
			</div><!-- col -->
				
		</div><!-- row -->
	</div><!-- container -->
	
</div><!-- PAGE CONTENT -->

{% endblock body %}