
{% extends "base.html" %}
{% block title %}
    HOME
{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content" style="padding-bottom:0px!important;">
  <div class="rev_slider_wrapper desk">
            <div class="rev_slider" data-version="5.0">
                <ul>
  
        <li data-transition="fade" data-thumb="static/images/index/revolution-slider/1.jpg">

                        <img src="static/images/index/revolution-slider/1.jpg" alt="">
          
        </li>
        <li data-transition="fade" data-thumb="static/images/index/revolution-slider/2.jpg">

                        <img src="static/images/index/revolution-slider/2.jpg" alt="">
          
        </li>
        <li data-transition="fade" data-thumb="static/images/index/revolution-slider/1.jpg">

                        <img src="static/images/index/revolution-slider/1.jpg" alt="">
          
        </li>
      </ul>
    </div>
  </div>
  <div class="rev_slider_wrapper mob">
            <div class="your-slider">
      <div class="your-slider-item">
        <img src="static/images/index/revolution-slider/11.jpg" alt="" />
      </div>
      <div class="your-slider-item">
        <img src="static/images/index/revolution-slider/22.jpg" alt="" />
      </div>
    </div>
  </div>
  <section class="sec-padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="img-bx">
            <img src="static/images/family.jpg">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="abt-txt"><strong>Banking Solutions</strong> For Your Day to Day Needs</div>
            </div>
            <div class="col-sm-12 serv">
              <li>
                <a href="savings-account"><img src="static/images/icons/1.png"></a>
                <a href="savings-account"><h6>Savings Account</h6></a>
              </li>
              <li>
                <a href="fixed-deposit"><img src="static/images/icons/2.png"></a>
                <a href="fixed-deposit"><h6>Fixed Deposit</h6></a>
              </li>
              <li>
                <a href="mortgage-loan"><img src="static/images/icons/4.png"></a>
                <a href="mortgage-loan"><h6>Mortgage Loan</h6></a>
              </li>
              <li>
                <a href="Gold Loan"><img src="static/images/icons/3.png"></a>
                <a href="Gold Loan"><h6>Gold Loan</h6></a>
              </li>
              <li>
                <a href="jayant-unnati-plan"><img src="static/images/icons/4.png"></a>
                <a href="jayant-unnati-plan"><h6>KCG Unnati Plan</h6></a>
              </li>
              <li>
                <a href="recurring-deposit"><img src="static/images/icons/3.png"></a>
                <a href="recurring-deposit"><h6>Recurring Deposit</h6></a>
              </li>
              <li>
                <a href="loan-against-deposit"><img src="static/images/icons/1.png"></a>
                <a href="loan-against-deposit"><h6>Loan Against Deposit</h6></a>
              </li>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <ul class="text-boxes-list" style="margin: 50px 0 0px;">
    <li>
      
      <div class="text-box black" style="background-image:url(static/images/about/image-1.jpg);">
        
        <div class="text-box-overlay"></div>
        
        <div class="text-box-title">
          
          
          <h2>Building trust and empowering people with innovative banking.</h2>
          
        </div><!-- text-box-title -->
        
        <p class="text-justify">With a persevering and ambitious team, Mr Niranjan Verma, the founder, has made his vision of leading the company along the values of Fair and Inclusive banking for all. <br>
        The aim is to be a world class bank that offers convenient and affordable financial solutions to all, in an inclusive and sustainable manner.</p>
        
        <!-- <a class="btn btn-default" href="#" target="_blank">Read More</a> -->
        
      </div><!-- text-box -->
      
    </li>
    <li>
      
      <div class="text-box">
      
        <div class="text-box-title">
          
          <p class="text-center">Empowering People</p>
          <div class="headline text-center">
          <h2>Who We <span>Are?</span></h2>
          </div><!-- headline -->
          
        </div><!-- text-box-title -->
        
        <p></p>
        
        <p class="text-justify"><b>KCG India Nidhi Ltd. </b>is one of the leading Nidhi companies in India<br>
        It is a Public Limited Company registered under the provisions of section 620A of the Companies Act 1956, and notified as <b>Nidhi Company</b> by the Government of India. </p>
        
        <p class="text-center"><a class="btn btn-default" href="#" target="_blank">Read More</a></p>
        
      </div><!-- text-box -->
      
    </li>
    <li>
      
      <div class="text-box" style="background-image:url(static/images/about/image-2.jpg);">
        
      </div><!-- text-box -->
      
    </li>
  </ul>

  <section class="sec-padding lite">
    <div class="container-fluid">
      <div class="col-sm-12">
        
        <div class="headline text-center">
          <h2>Banking Solutions For <span>Everyone</span></h2>
        </div><!-- headline -->

                </div><!-- col -->
      <divc class="row">
        <div class="col-sm-4">
          <div class="bnk-view">
            <h4>Banking that empowers!</h4>
            <div class="bnk-view0">
              <img src="static/images/ceo.jpg">
              <p>"I'm neither a banker nor an economist, I learn from my customers"</p>
              <p><span>(Niranjan Verma, Founder & Chairman)</span></p>
              <a href="about-us">Read the story of KCG India.<i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="bnk-view">
            <h4>KCG India's Numbers.</h4>
            <div class="bnk-view1">
              <li>
                <strong>5,000+</strong>
                <p>Customers and Counting</p>
              </li>
              <li>
                <strong>21+</strong>
                <p>Banking Outlets</p>
              </li>
              <li>
                <strong>100+</strong>
                <p>Employees</p>
              </li>
              <li>
                <strong>20,000</strong>
                <p>Lives Improved Though CSR Policies</p>
              </li>
            </div>

          </div>
        </div>
        <div class="col-sm-4">
          <div class="bnk-view">
            <h4>Banking made easy!</h4>
            <div class="bnk-view2">
              <br>
              <li><a href="contact-us">Internet Banking<i class="fa fa-arrow-right"></i></a></li>
              <li><a href="contact-us">Mobile Banking<i class="fa fa-arrow-right"></i></a></li>
              <li><a href="contact-us">SMS Banking<i class="fa fa-arrow-right"></i></a></li>
              <li><a href="#">Banking Outlets<i class="fa fa-arrow-right"></i></a></li>
              <li><a href="contact-us">Request Call Back<i class="fa fa-arrow-right"></i></a></li>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="full-section half-image" id="section-1" style="margin-top: 0px!important;">
    
    <div class="half-image-left" style="background-image:url(static/images/about/2.jpg)">
      
      <img src="static/images/about/2.jpg" alt="">
      
    </div><!-- half-image-left -->
  
    <div class="full-section-container">
    
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-offset-7 col-md-4">
          
            <div class="headline" style="margin-bottom:50px;">
              <p>Impacting Lives</p>
              <h2>What is <span>Nidhi?</span></h2>
              
            </div><!-- headline -->
            
            <p>'Nidhi' is one of the finance sectors in India recognized under section 620A of the Companies Act 1956. <br>
            Borrowing and lending money, between the members is their primary business. These companies are known under different names such as Nidhi, Permanent Fund, Benefit Funds, Mutual Benefit Funds, and Mutual Benefit Companies.</p>
            
            <br>
            
            <a class="btn btn-default" href="what-is-nidhi" target="_blank">Read more</a>
            
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container-fluid -->
      
    </div><!-- full-section-container -->
  </section><!-- full-section -->
  
  <section id="section-11">
    <div class="container">
            <div class="row">
              <div class="col-md-12">
          <div class="headline text-center">
            <p>Impacting Lives</p>
          <h2>What our <span>Customers Say</span></h2>
        </div><!-- headline -->
        </div>
        
          <div class="col-md-12">
          <div class="owl-carousel testimonials-slider style-2">
              <div class="item">
                
                <div class="text-box">
                  
                  <div class="testimonial">
            
                    <blockquote>
                      <p>I have interacted with many banks in my 20 years of corporate experience, but KCG India’s exceptional service and customer centric approach is something different altogether.<br>

                      </p>
                    </blockquote>
                    
                    <img src="static/images/user.jpg" alt="">
                    
                    <h5>
                      Dharmendra Kumar<br>
                      <span>Client</span>
                      <!--<small>Delhi</small>-->
                    </h5>
                  
                  </div><!-- testimonial -->
                  
                </div><!-- text-box -->
                
              </div><!-- item -->
              <div class="item">
                
                <div class="text-box">
                  
                  <div class="testimonial">
            
                    <blockquote>
                      <p>Had an amazing experience with KCG India. A highly professional team completely dedicated towards giving the customer great satisfaction with their phenomenal work.</p>
                    </blockquote>
                    
                    <img src="static/images/user.jpg" alt="">
                    
                    <h5>
                       KCG Verma<br> 
                      <span>Client</span>
                      <!--<small>Gurgaon</small>-->
                    </h5>
                  
                  </div><!-- testimonial -->
                  
                </div><!-- text-box -->
                
              </div><!-- item -->
              <div class="item">
                
                <div class="text-box">
                  
                  <div class="testimonial">
            
                    <blockquote>
                      <p>Good experience with KCG team
                                                Frankly environment in the office with customer and good service on time. Grateful for their support.<br><br></p>
                    </blockquote>
                    
                    <img src="static/images/user.jpg" alt="">
                    
                    <h5>
                       Lalit Kumar<br> 
                      <span>Client</span>
                      <!--<small>Gurgaon</small>-->
                    </h5>
                  
                  </div><!-- testimonial -->
                  
                </div><!-- text-box -->
                
              </div><!-- item -->
              <div class="item">
                
                <div class="text-box">
                  
                  <div class="testimonial">
            
                    <blockquote>
                      <p>KCG India really doing very good job for giving the consultancy regarding MSME loan without charging any thing.
                                                    My experience with KCG India Nidhi Ltd is better then any others Bank.</p>
                    </blockquote>
                    
                    <img src="static/images/user.jpg" alt="">
                    
                    <h5>
                      Sanjay Wadhawan<br>
                      <span>Client</span>
                      <!--<small>Delhi</small>-->
                    </h5>
                  
                  </div><!-- testimonial -->
                  
                </div><!-- text-box -->
                
              </div><!-- item -->
              <div class="item">
                
                <div class="text-box">
                  
                  <div class="testimonial">
            
                    <blockquote>
                      <p>Best  financial services in gurgaon like Business loan / personal loan and attractive fixed deposit rate.<br> Thanks KCG India <br><br></p>
                    </blockquote>
                    
                    <img src="static/images/user.jpg" alt="">
                    
                    <h5>
                       Sumit Shah<br> 
                      <span>Client</span>
                      <!--<small>Gurgaon</small>-->
                    </h5>
                  
                  </div><!-- testimonial -->
                  
                </div><!-- text-box -->
                
              </div><!-- item -->
            </div><!-- testimonials-slider -->
        </div>
        
      </div>
    </div>
  </section>
  
  <section class="full-section dark-section parallax" id="section-4" data-stellar-background-ratio="0.1" style="display: none;">
    
    <div class="full-section-overlay-color"></div>
  
    <div class="full-section-container">
      
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            
            <div class="counter">
              
              <div class="counter-value" data-value="138"></div>
              
              <div class="counter-details">
                <h4>Projects Done</h4>
                <p>In the last year</p>
              </div><!-- counter-details -->
              
            </div><!-- counter -->
            
          </div><!-- col -->
          <div class="col-sm-3">
            
            <div class="counter">
              
              <div class="counter-value" data-value="250"></div>
              
              <div class="counter-details">
                <h4>Employess</h4>
                <p>From 2014</p>
              </div><!-- counter-details -->
              
            </div><!-- counter -->
            
          </div><!-- col -->
          <div class="col-sm-3">
            
            <div class="counter">
              
              <div class="counter-value" data-value="21"></div>
              
              <div class="counter-details">
                <h4>New associates</h4>
                <p>Since 2011</p>
              </div><!-- counter-details -->
              
            </div><!-- counter -->
            
          </div><!-- col -->
          <div class="col-sm-3">
            
            <div class="counter">
              
              <div class="counter-value" data-value="1196"></div>
              
              <div class="counter-details">
                <h4>Customers</h4>
                <p>Recommendations</p>
              </div><!-- counter-details -->
              
            </div><!-- counter -->
            
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
      
    </div><!-- full-section-container -->
  </section><!-- full-section -->
  
  <section class="" id="section-5">
    <div class="full-section-container">			
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="headline">
              
              <p>Speak to us.</p>
              <h2>Request <span>a call back</span></h2>
              
            </div><!-- headline -->
            <p>Feel free to get in touch with us. You may also write us a message since we love hearing from our customers.<br>
              Request a call back, and our representative would get in touch with you within a duration of two days.<p>
            
            

          </div><!-- col -->
          
          <div class="col-md-7 col-sm-8">
            
            <form id="contact-form" class="quick-contact-form" name="contact-form" method="post" action="mail">
              <fieldset>

                <div id="alert-area"></div>

                <div class="row">
                  <div class="col-sm-6">
                  
                    <input class="col-xs-12" id="name" type="text" name="name" placeholder="My name">
                  
                  </div><!-- col -->
                  <div class="col-sm-6">
                  
                    <input class="col-xs-12" id="email" type="email" name="email" placeholder="Your e-mail">
                  
                  </div><!-- col -->
                </div><!-- row -->
                
                <input class="col-xs-12" id="subject" type="text" name="subject" placeholder="Subject">

                <textarea class="col-xs-12" id="cmessage" name="cmessage" rows="9" cols="25" placeholder="I would like to discuss"></textarea>

                <button class="btn btn-default btn-lg" id="submit" type="submit" name="contact-form" value="">Send</button>

              </fieldset>
            </form>
            
          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->
      
    </div><!-- full-section-container -->
  </section><!-- full-section -->
  
</div><!-- PAGE CONTENT -->


{% endblock body %}