{% extends "base.html" %}
{% block title %}Loan Against Deposit{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Loans</a></li>
						<li class="active">Loan Against Deposit</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Loan against <span>Deposit</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	 <div class="container">
		 <h3>Loans against Deposit for the needs of everyone.</h3><br>
		 <!-- <div class="hr default-color"><br> -->
		 <p>Loan against FD (Fixed Deposit) is a type of secured loan where customers can pledge their fixed deposit as security and get a loan in return. The amount of loan depends on the FD deposit amount.</p>
		 <p>The processing fee charged for this loan is low compared to personal loans. Sometimes, banks waive off the processing fee. As this is a secured loan, the lender may or may not want to know if you have the cash flow to repay it.</p>
		 <p>KCG India provides hassle-free Loans Against Deposit, to individuals in need, so they can move a step closer to their dreams and aspirations.</p>
	 </div>

	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="tabs vertical-tabs style-2">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-5-1" data-toggle="tab"><i class="glyphicon glyphicon-list">
							
						</i> Features</a></li>
						<li><a href="#tab-5-2" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> Rates & Charges</a></li>
						<li><a href="#tab-5-3" data-toggle="tab"><i class="glyphicon glyphicon-check"></i> Eligibility Criteria</a></li>
						<li><a href="#tab-5-4" data-toggle="tab"><i class="glyphicon glyphicon-file"></i> Documents Required</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-5-1">

							<p>
								<ul>
								<li>Low interest Rate.</li>
								<li>Low Processing fee.</li>
								<li>No need to break investment.</li>
								<li>Quick loan Disbursal.</li>
								<li>Repayment in installment.</li>
								
							</ul>
																

						</p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-2">

							<p>
							<ul>
								<ul>
								<li>Loan Amount = 5000 to 100000.</li>

								<li>Term = 5 years,</li>

								<li>ROI = 12 to 19 %  Yearly</li>  

								<li>Loan against RD/FD/DEPOSIT ONLY</li> 

								<li>Loan Facility available on your Deposits FD/RD/SHARE CERTIFICATE</li>
							</ul>
							</p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-3">

							<p>
								
								<ul>Age: 

							<li>Minimum – 18 years </li>

							<li>Maximum – 55 years </li> </ul>  </p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-4">

							<p>
								<ul>
							<li>ID PROOF (Any one)– PAN CARD / PASSPORT/ VOTER ID CARD/ AADHAR CARD / DRIVING LICENSE </li>
							<li>Local Address Proof – Required</li>
							<li>Permanent Address Proof (Any one)– VOTER ID CARD/ AADHAR CARD/ PASSPORT/ RATION CARD / ELECTRICITY/ANY UTILITY BILL/ MOBILE BILL/ GAS CONNECTION WITH LATEST SLIP/ RENT AGREEMENT </li>
								</ul>
							</p>

						</div><!-- tab-pane -->
					</div><!-- tab-content -->

				</div><!-- tabs -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
 

	<section class="full-section half-image" style="padding:100px 0 80px; margin-bottom:0;">
		
		<div class="half-image-left parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/loans/depos.jpg);">
			
			<img src="static/images/loans/depos.jpg" alt="">
			
		</div><!-- half-image-left -->
	
		<div class="full-section-container">
		
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-offset-7 col-md-4">
					
						<div class="headline">
					
							
							<h2>Move one step closer <span>to your dream</span></h2>
							
						</div><!-- headline -->
						
						<p>Use your Deposit to fulfill your finances by applying for a hassle-free loan from KCG India, one of India’s driving Nidhi companies, today.</p>
						
						<br>
						
						<a class="btn btn-default" href="#">Apply Now</a>
						
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container-fluid -->
			
		</div><!-- full-section-container -->
	</section><!-- full-section -->
	

	
</div><!-- PAGE CONTENT -->

{% endblock body %}