{% extends "base.html" %}
{% block title %}Mortgage Loan{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Loans</a></li>
						<li class="active">Mortgage Loan</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Mortgage <span>Loan</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	 <div class="container">
		 <h3>Mortgage Loans for the needs of every person.</h3><br>
		 <!-- <div class="hr default-color"><br> -->
		 <p>KCG India Nidhi, one of India’s driving Nidhi Companies in Gurgaon offers a hazzle-free approach to Mortgage loans in Haryana.</p>
		 <p>A Mortgage is a loan that the borrower uses to purchase or maintain a home or other form of real estate and agrees to pay back over time, typically in a series of regular payments. The property serves as collateral to secure the loan.</p>
		 <p>Individuals and businesses use Mortgages to buy real estate without paying the entire purchase price upfront. Over a specified number of years, the borrower repays the loan, plus interest, until they own the property free and clear.</p>
		 <p>The price of a home is often far greater than the amount of money saved by most households. As a result, Mortgages allow individuals and families to purchase a home by putting down only a relatively small down payment and obtaining a loan for the balance.</p>
		 <p>KCG India provides Mortgage loans, to individuals in need, so they can move a step closer to their dreams and aspirations.</p>
	 </div>

	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="tabs vertical-tabs style-2">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-5-1" data-toggle="tab"><i class="glyphicon glyphicon-list">
							
						</i> Features</a></li>
						<li><a href="#tab-5-2" data-toggle="tab"><i class="glyphicon glyphicon-list-alt"></i> Rates & Charges</a></li>
						<li><a href="#tab-5-3" data-toggle="tab"><i class="glyphicon glyphicon-check"></i> Eligibility Criteria</a></li>
						<li><a href="#tab-5-4" data-toggle="tab"><i class="glyphicon glyphicon-file"></i> Documents Required</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-5-1">

							<p>


							<ul>
							<li>Risk-free loan</li>

							<li>Simple paperwork</li>

							<li>Easy and fast processing of loan</li>  

							<li>Less documentation required</li> 

							<li>Low-interest rate</li>

							<li>Doorstep Service Facility</li> 

							

						</ul></p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-2">

							<p>
							<ul>
								
								<li>Rate of interest on loan against Property would be 12% to 19%.
								<li>Only interest deposit paying facility available.
								<li>Max Tenure: 5 years
								
							</ul>
							</p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-3">

							<p>
								
								<ul>Age: 

							<li>Minimum – 18 years </li>

							<li>Maximum – 55 years </li> </ul>  </p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-4">

							<p>
								<ul>
							<li>ID PROOF (Any one)– PAN CARD / PASSPORT/ VOTER ID CARD/ AADHAR CARD / DRIVING LICENSE </li>
							<li>Local Address Proof – Required</li>
							<li>Permanent Address Proof (Any one)– VOTER ID CARD/ AADHAR CARD/ PASSPORT/ RATION CARD / ELECTRICITY/ANY UTILITY BILL/ MOBILE BILL/ GAS CONNECTION WITH LATEST SLIP/ RENT AGREEMENT </li>
								</ul>
							</p>

						</div><!-- tab-pane -->
					</div><!-- tab-content -->

				</div><!-- tabs -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
 

	<section class="full-section half-image" style="padding:100px 0 80px; margin-bottom:0;">
		
		<div class="half-image-left parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/about/Mortgage.jpg);">
			
			<img src="static/images/about/Mortgage.jpg" alt="">
			
		</div><!-- half-image-left -->
	
		<div class="full-section-container">
		
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-offset-7 col-md-4">
					
						<div class="headline">
					
							
							<h2>Move one step closer <span>to your dream</span></h2>
							
						</div><!-- headline -->
						
						<p>Use your property to fulfill your finances by applying for a hassle-free loan from KCG India, one of India’s driving Nidhi companies, today.</p>
						
						<br>
						
						<a class="btn btn-default" href="#">Apply Now</a>
						
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container-fluid -->
			
		</div><!-- full-section-container -->
	</section><!-- full-section -->
	

	
</div><!-- PAGE CONTENT -->

{% endblock body %}