{% extends "base.html" %}
{% block title %} Privacy Policy {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Privacy Policy</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="headline text-center">
					
					
					<h2>Privacy Policy</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h3>Your privacy is critically important to us.</h3>
				<p>KCG India is located at: SCO-88 Second Floor, Opp. BSNL Exchange Old Delhi-Gurgaon Road Market Sec-12A Gurugram, Gurugram
				12200 – Haryana , India
				01244006298</p>

				<p>It is KCG India’s policy to respect your privacy regarding any information we may collect while operating our website. This Privacy Policy applies to <a href="https://jayantindia.com">https://jayantindia.com</a>(hereinafter, “us”, “we”, or “https://jayantindia.com“). We respect your privacy and are committed to protecting personally identifiable information you may provide us through the Website. We have adopted this privacy policy (“Privacy Policy”) to explain what information may be collected on our Website, how we use this information, and under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to information we collect through the Website and does not apply to our collection of information from other sources.</p>

				<p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be required to agree to additional terms and conditions.</p>

				<h3>Website Visitors</h3> 
				<p>Like most website operators, KCG India collects non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. KCG India’s purpose in collecting non-personally identifying information is to better understand how KCG India’s visitors use its website. From time to time, KCG India may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the usage of its website.</p>
				<p>KCG India also collects potentially personally-identifying information like Internet Protocol (IP) addresses for logged in users and for users leaving comments on https://jayantindia.com blog posts. KCG India only discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses personally-identifying information as described below.</p>
				<h3>Gathering of Personally-Identifying Information</h3>
				<p>Certain visitors to KCG India’s websites choose to interact with KCG India in ways that require KCG India to gather personally-identifying information. The amount and type of information that KCG India gathers depend on the nature of the interaction. For example, we ask visitors who sign up for a blog at https://jayantindia.com to provide a username and email address.</p>

				<h3>Security</h3>
				<p>The security of your Personal Information is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Information, we cannot guarantee its absolute security.</p>

				<h3>Advertisements</h3>
				<p>Ads appearing on our website may be delivered to users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This Privacy Policy covers the use of cookies by KCG India and does not cover the use of cookies by any advertisers.</p>

				<h3>Links To External Sites</h3>
				<p>Our Service may contain links to external sites that are not operated by us. If you click on a third party link, you will be directed to that third party’s site. We strongly advise you to review the Privacy Policy and the terms and conditions of every site you visit.

				We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites, products or services.</p>

				<h3>Digital Financial Literacy:</h3>
				<p>KCG India  Welfare Foundation organised a mega camp and started implementing series of camps on digital financial literacy from the month of May 2017 and is continued across districts in Bihar & Uttar Pradesh. Currently the program is being run across 2 states Bihar & Uttar Pradesh. New training modules which includes flash cards, Audio visuals, Snake & Ladder game have been developed with technical core team members of KCG India  Welfare Foundation. The total 62,474 beneficiary has successfully attended the Digital Financial Literacy program as on February 2021.</p>

				<h3>Aggregated Statistics</h3>
				<p>KCG India may collect statistics about the behavior of visitors to its website. KCG India may display this information publicly or provide it to others. However, KCG India does not disclose your personally-identifying information.</p>

				<h3>Cookies</h3>
				<p>To enrich and perfect your online experience, KCG India uses “Cookies”, similar technologies and services provided by others to display personalized content, appropriate advertising and store your preferences on your computer.</p>

				<p>A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser provides to the website each time the visitor returns. KCG India uses cookies to help KCG India identify and track visitors, their usage of https://jayantindia.com, and their website access preferences. KCG India visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies before using KCG India’s websites, with the drawback that certain features of KCG India’s websites may not function properly without the aid of cookies.</p>

				<p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to KCG India’s use of cookies.</p>

				<p>Started in August 2015 through 5 locations, the initiative is currently operational through 15 locations across (Kochas, Nokha, Kudra, Bhabhua, Ramgrarh, Satna, Maiher, Amarpatan, Mauganj, Kaptanganj, Tamkuhi Road, Siswa Bazar, Pipraich & Dudhai) districts of Bihar, Madhya Pradesh, and Uttar Pradesh respectively.</p>

				<h3>Business Transfers</h3>
				<p>If KCG India, or substantially all of its assets, were acquired, or in the unlikely event that KCG India goes out of business or enters bankruptcy, user information would be one of the assets that are transferred or acquired by a third party. You acknowledge that such transfers may occur and that any acquirer of KCG India may continue to use your personal information as set forth in this policy.</p>

				<h3>Privacy Policy Changes</h3>
				<p>Although most changes are likely to be minor, KCG India may change its Privacy Policy from time to time, and in KCG India’s sole discretion. KCG India encourages visitors to frequently check this page for any changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your acceptance of such change.</p>

				
				<h3>Credit & Contact Information</h3>
				<p>This privacy policy was created at termsandconditionstemplate.com. If you have any questions about this Privacy Policy, please contact us via email or phone.
				</p>
				
				<p>"Customer agree to receive promotional calls on the number shared, and such calls and SMS would be coming from a third party platform" </p>

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->

	

	
</div><!-- PAGE CONTENT -->

{% endblock body %}