{% extends "base.html" %}
{% block title %} Rates & Charges {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Rates & Charges</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Rates &<span>Charges</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="tabs">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-1-1" data-toggle="tab">Interest Rates</a></li>
						
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-1-1">

							<div class="container">
								<div class="row">
									<div class="col-sm-12">

										<div class="panel-group" id="accordion1">
											<div class="panel">
												<div class="panel-heading">

													<h6 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion1" href="#collapse1-1" aria-expanded="true">
															<span>Savings Account</span>
														</a>
													</h6>

												</div><!-- panel-heading -->
												<div id="collapse1-1" class="panel-collapse collapse in">
													<div class="panel-body">

													<div class="col-sm-12">
				
															<table class="table table-hover">
																<thead>
																	<tr>
																		<th>#</th>
																		<th>Savings Account Type</th>
																		<th>Interest Rate</th>
																		
																	</tr>
																</thead>
																<tbody>
																	<tr>
																		<th scope="row">1</th>
																		<td> Daily Balance up to ₹1 lakh</td>
																		<td>3.00%</td>
																		
																	</tr>
																	<tr>
																		<th scope="row">2</th>
																		<td> Daily Balance above ₹1 lakh to ₹10 lakh</td>
																		<td>4.00%</td>
																		
																	</tr>
																	<tr>
																		<th scope="row">3</th>
																		<td>Daily Balance above ₹10 lakh to ₹10 crore</td>
																		<td>6.00%</td>
																		
																	</tr>
																</tbody>
															</table>
															
														</div><!-- col -->
														<div class="col-sm-12">

															<h4>Points to note:</h4>
																<ul> 
																	<li>Interest will be calculated daily based on end of day clear balance in the account.
																	</li>
																	<li>Interest of 3% p.a. will be applied for amount up to ₹1 lakh, 4% p.a. will be applied on the incremental balance over and above ₹1 lakh up to ₹10 lakh, 6% p.a. will be applied on the incremental balance over and above ₹10 lakh up to ₹10 crore.</li>
																	<li>For rates on amount of ₹10 Crores and above, please contact the branch official.
																	</li>
																	<li>Interest is paid at every calendar quarter on June 30, September 30, December 31 and March 31.</li>
																</ul>
															</p>
														</div>


													</div><!-- panel-body -->
												</div><!-- panel-collapse -->
											</div><!-- panel -->

											<div class="panel">
												<div class="panel-heading">

													<h6 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion1" href="#collapse2-1">
															<span>Bulk Deposit</span>
														</a>
													</h6>

												</div><!-- panel-heading -->
												<div id="collapse2-1" class="panel-collapse collapse">
													<div class="panel-body">

														
														<table class="table">
															<tbody>
																<tr class="headerrow">
																	<td style="width: 252px;"><strong>With Premature payment Facility </strong></td>
																	<td colspan="5" style="width: 815px;"><strong>(All rates are per annum) w.e.f. April 28, 2021</strong></td>
																</tr>
																<tr class="blug headerrow">
																	<td style="width: 252px;">Tenure</td>
																	<td style="width: 94px;">₹2 cr. to ₹10 cr.</td>
																	<td>Above ₹10 cr. to Less Than ₹25 cr</td>
																	<td>₹25cr.to less than ₹50 cr</td>
																	<td>₹50 cr.to less than ₹100 cr</td>
																	<td>₹100 cr. and above</td>
																</tr>
																<tr>
																	<td style="width: 252px;">7 days to 15 days</td>
																	<td style="width: 94px;">3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">16 days to 28 days</td>
																	<td style="width: 94px;">3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">29 days to 45 days</td>
																	<td style="width: 94px;">3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																	<td>3.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">46 days to 90 days</td>
																	<td style="width: 94px;">3.25%</td>
																	<td>3.25%</td>
																	<td>3.25%</td>
																	<td>3.25%</td>
																	<td>3.25%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">91 days to 180 days</td>
																	<td style="width: 94px;">3.75%</td>
																	<td>3.75%</td>
																	<td>3.75%</td>
																	<td>3.75%</td>
																	<td>3.75%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">181 days to 364 days</td>
																	<td style="width: 94px;">4.00%</td>
																	<td>4.00%</td>
																	<td>4.00%</td>
																	<td>4.00%</td>
																	<td>4.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">For 365 days</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">For 366 days</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">For 367 days to less than 15 months</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">15 months to less than 2 years</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">2 years to less than 3 years</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">3 years to less than 5 years</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
																<tr>
																	<td style="width: 252px;">5 years to 10 years</td>
																	<td style="width: 94px;">5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																	<td>5.00%</td>
																</tr>
															</tbody>
														</table>
														

													</div><!-- panel-body -->
												</div><!-- panel-collapse -->
											</div><!-- panel -->

											<div class="panel">
												<div class="panel-heading">

													<h6 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion1" href="#collapse3-1">
															<span>Home Loan</span>
														</a>
													</h6>

												</div><!-- panel-heading -->
												<div id="collapse3-1" class="panel-collapse collapse">
													<div class="panel-body">
														<p style="text-align: left;">Home loans : Floating Interest Card Rates w.e.f. June 22, 2020</p>

														<p style="text-align: left;">External Benchmark Rate: RBI Repo Linked Lending Rate (RLLR)</p>

														<p style="text-align: left;">Current RLLR: w.e.f. June 22, 2020: <strong>4.00%</strong></p>

														<p style="text-align: left;">(A) Home loan Interest Rate Card (Floating) :</p>

														<div class="tablewrap">
															<table class="table">
																<tbody>
																	<tr class="blug headerrow">
																		<td><strong>Loan Amount</strong></td>
																		<td><strong>Suraksha Home loan</strong></td>
																		<td style="text-align: left;"><strong>Suvidha Home Loan</strong></td>
																	</tr>
																	<tr>
																		<td>Home loan up to Rs. 15 lakhs</td>
																		<td>From 9.25% to 11.50%</td>
																		<td style="text-align: left;">From 9.50% to 11.75%</td>
																	</tr>
																	<tr>
																		<td>Home loan up to Rs. 15 lakhs to Rs.50 lakhs</td>
																		<td>From 8.50% to 10.75%</td>
																		<td style="text-align: left;">From 8.75% to 11.00%</td>
																	</tr>
																	<tr>
																		<td>Home loan Above Rs. 50 Lakhs</td>
																		<td>From 8.75% to 11.00%</td>
																		<td style="text-align: left;">From 9.00% to 11.25%</td>
																	</tr>
																</tbody>
															</table>
															</div>
															</div>

															<div class="rctable">
															<p style="text-align: left;">(B) Repair Loans Interest Rate Card (Floating):</p>

															<div class="tablewrap">
															<table class="table">
																<tbody>
																	<tr class="blug headerrow">
																		<td><strong>Loan Amount</strong></td>
																		<td><strong>Suraksha Home loan</strong></td>
																		<td style="text-align: left;"><strong>Suvidha Home Loan</strong></td>
																	</tr>
																	<tr>
																		<td>All Loan Amount</td>
																		<td>From 9.25% to 11.50%</td>
																		<td style="text-align: left;">From 9.50% to 11.75%</td>
																	</tr>
																</tbody>
															</table>
															</div>
															</div>

															<div class="rctable">
															<p style="text-align: left;">(C) Loan Against Property Rate card (Floating)</p>

															<div class="tablewrap">
															<table class="table">
																<tbody>
																	<tr class="blug headerrow">
																		<td><strong>Loan Amount</strong></td>
																		<td><strong>Suraksha LAP </strong></td>
																		<td style="text-align: left;"><strong>Suvidha LAP</strong></td>
																	</tr>
																	<tr>
																		<td>All Loan Amount</td>
																		<td>From 10.00% to 13.25%</td>
																		<td style="text-align: left;">From 10.25% to 13.50%</td>
																	</tr>
																</tbody>
															</table>
														
													</div><!-- panel-body -->
												</div><!-- panel-collapse -->
											</div><!-- panel -->
											
											<div class="panel">
												<div class="panel-heading">

													<h6 class="panel-title">
														<a data-toggle="collapse" data-parent="#accordion1" href="#collapse4-1">
															<span>Term Deposit</span>
														</a>
													</h6>

												</div><!-- panel-heading -->
												<div id="collapse4-1" class="panel-collapse collapse">
													<div class="panel-body">
														<table class="table text-center">
															<tbody>
																<tr class="blug headerrow">
																	<td><strong>Sr. No.</strong></td>
																	<td><strong>Time Period</strong></td>
																	<td colspan="2"><strong>General</strong></td>
																	<td colspan="2"><strong>Senior Citizen</strong></td>
																</tr>
																<tr>
																	<td></td>
																	<td></td>
																	<td><strong>Open Ended</strong></td>
																	<td><strong>Close Ended</strong></td>
																	<td><strong>Open Ended</strong></td>
																	<td><strong>Close Ended</strong></td>
																</tr>
																<tr>
																	<td>1</td>
																	<td>06 Months- 12 Months</td>
																	<td>6.50%</td>
																	<td>6.50%</td>
																	<td>7%</td>
																	<td>7%</td>
																	
																</tr>
																<tr>
																	<td>1</td>
																	<td>12 Months- 24 Months</td>
																	<td>7.25%</td>
																	<td>7.25%</td>
																	<td>7.75</td>
																	<td>7.75</td>
																</tr>
																<tr>
																	<td>2</td>
																	<td>24 Months- 36 Months</td>
																	<td>7.70%</td>
																	<td>7.70%</td>
																	<td>8.20</td>
																	<td>9.20</td>
																</tr>
																<tr>
																	<td>3</td>
																	<td>36 Months- 48 Months</td>
																	<td>7.85%</td>
																	<td>8.85%</td>
																	<td>8.35%</td>
																	<td>9.35%</td>
																</tr>
																<tr>
																	<td>4</td>
																	<td>48 Months- 60 Months </td>
																	<td>8.00%</td>
																	<td>9.00%</td>
																	<td>8.50%</td>
																	<td>9.50%</td>
																</tr>
																<tr>
																	<td>5</td>
																	<td>60 Months</td>
																	<td>8.10%</td>
																	<td>9.10%</td>
																	<td>8.60%</td>
																	<td>9.60%</td>
																</tr>
															</tbody>
														</table>
														
													</div><!-- panel-body -->
												</div><!-- panel-collapse -->
											</div><!-- panel -->

										</div><!-- accordion -->

									</div><!-- col -->
								</div><!-- row -->
							</div><!-- container -->

						</div><!-- tab-pane -->

					 </div><!-- tab-content -->

				</div><!-- tabs -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	
	
</div><!-- PAGE CONTENT -->

{% endblock body %}