{% extends "base.html" %}
{% block title %} {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">RBI Advisory Notifications</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="headline text-center">
                    
                    
                    <h2>RBI Advisory notifications</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    
    <div class="container pdf-i">
        <div class="row">
            <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>October 10, 2011</h4>
                    <div>
                        <a href="rbi-advisory/2011.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Remittance towards Participation in Lottery, Money Circulation Schemes, Other fictitious offers of Cheap funds etc.</a>
                    </div>
                </div>
            </div><!-- col -->
        

   
            <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>May 28, 2010</h4>
                    <div>
                        <a href="rbi-advisory/2010.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>Do Not fall Prey to Fictitious Offers of Funds Transfer: RBI Advisory </a>
                    </div>
                </div>
            </div><!-- col -->
     

               <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>May 26, 2010</h4>
                    <div>
                        <a href="rbi-advisory/201026.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Remittance towards participation in lottery, money circulation schemes, other fictitious offers of cheap funds, etc. </a>
                    </div>
                </div>
            </div><!-- col -->
       
   
            <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>July 30, 2009</h4>
                    <div>
                        <a href="rbi-advisory/2009.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Beware of Fictitious Offers/Lottery Winnings/Cheap Fund Offers: RBI </a>
                    </div>
                </div>
            </div><!-- col -->
            <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>March 23rd, 2000</h4>
                    <div>
                        <a href="rbi-advisory/nidhi-guidelines.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Nidhi Guidelines</a>
                    </div>
                </div>
            </div><!-- col -->
   
   
            <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>December 7, 2007</h4>
                    <div>
                        <a href="rbi-advisory/2007.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> RBI cautions Public against Fictitious Offers of Remitting Cheap Funds from Abroad </a>
                    </div>
                </div>
            </div><!-- col -->
            
            <div class="col-sm-12">
                <div class="boxx" style="border: 1px solid #efefef;padding: 20px">
                    <h4>25th August, 2016</h4>
                    <div>
                        <a href="rbi-advisory/exemptions-from-rbi-act-1934.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Exemptions from the provisions of RBI act, 1934</a>
                    </div>
                </div>
            </div><!-- col -->
   
        </div><!-- row -->
    </div><!-- container -->
    
</div><!-- PAGE CONTENT -->

{% endblock body %}