{% extends "base.html" %}
{% block title %}Recurring Deposit{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Deposit Schemes</a></li>
						<li class="active">Recurring Deposits</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Recurring <span>Deposits</span></h2>

					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	 <div class="container">
		 <h3><span class="line_text"><strong>KCG India</strong> Recurring Deposits(RD)</span></h3>
			
		<p><span>Recurring Deposit (RD) is a unique sort of term store by Nidhi which fulfills the need of putting something aside for the individuals with a normal wage by influencing them to store a settled sum consistently. On the off chance that you have a feeling that you have to spare however can’t as you don’t precisely know how and where to pool some sum out of your pay, Recurring Deposit Schemes would end up being the best alternative for you. The best element of this plan is the way that you don’t need to store a singular amount sum, begin it with your initial 1000’s. KCG India Nidhi Limited offers best interest rate. The store enables individuals with a chance to develop their investment funds through the standard month to month stores. The term for the store shifts from at least a half year to greatest 5 years with most astounding (RD) repeating Deposit Interest Rate.</span></p>
	</div>
	<div class="container tabl">

		<h3>Interest Rates On Domestic Deposits</h3>
		<table class="table text-center">
															<tbody>
																<tr class="blug headerrow">
																	<td><strong>Sr. No.</strong></td>
																	<td><strong>Time Period</strong></td>
																	<td colspan="2"><strong>General</strong></td>
																	<td colspan="2"><strong>Senior Citizen</strong></td>
																</tr>
																<tr>
																	<td></td>
																	<td></td>
																	<td><strong>Open Ended</strong></td>
																	<td><strong>Close Ended</strong></td>
																	<td><strong>Open Ended</strong></td>
																	<td><strong>Close Ended</strong></td>
																</tr>
																<tr>
																	<td>1</td>
																	<td>06 Months > 12 Months</td>
																	<td>6.50%</td>
																	<td>6.50%</td>
																	<td>7.00%</td>
																	<td>7.00%</td>
																	
																</tr>
																<tr>
																	<td>2</td>
																	<td>12 Months < 24 Months</td>
																	<td>8.10%</td>
																	<td>8.10%</td>
																	<td>8.60%</td>
																	<td>8.60%</td>
																</tr>
																<tr>
																	<td>3</td>
																	<td>24 Months < 36 Months</td>
																	<td>8.20%</td>
																	<td>9.20%</td>
																	<td>8.70%</td>
																	<td>9.70%</td>
																</tr>
																<tr>
																	<td>4</td>
																	<td>36 Months < 48 Months</td>
																	<td>7.85%</td>
																	<td>8.85%</td>
																	<td>8.35%</td>
																	<td>9.35%</td>
																</tr>
																<tr>
																	<td>5</td>
																	<td>48 Months < 60 Months </td>
																	<td>7.70%</td>
																	<td>8.70%</td>
																	<td>8.20%</td>
																	<td>9.20%</td>
																</tr>
																<tr>
																	<td>6</td>
																	<td>60 Months</td>
																	<td>7.60%</td>
																	<td>8.60%</td>
																	<td>8.10%</td>
																	<td>9.10%</td>
																</tr>
															</tbody>
		</table>	
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="tabs vertical-tabs style-2">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-5-1" data-toggle="tab"><i class="glyphicon glyphicon-list">
							
						</i> Terms and Conditions</a></li>
						<li><a href="#tab-5-3" data-toggle="tab"><i class="glyphicon glyphicon-check"></i> Eligibility Criteria</a></li>
						<li><a href="#tab-5-4" data-toggle="tab"><i class="glyphicon glyphicon-file"></i> Documents Required</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-5-1">

							<p>
								<ul>

								<li>Minimum Recurring Deposit would be ₹ 1000/- The recurring deposits shall be accepted for a minimum period of 6 months and a maximum period 60 months. Interest will be compounded on a quarterly basis.Mode of payment will be either cash or cheque. Interest will be compounded quarterly. 
								</li>

								<li>Recurring Deposit cannot end in 3 months, no interest will be payable if the recurring deposit is closed within 6 months. If the RD foreclosed after 6 months, 2% of the interest amount will be charged.The charge of ₹25 per 1000/- will be demanded in case of default payment of installment.Irregular deposits are not entitled to pre-mature payment and loan facility against it. If there is a default in the payment of one installment than the account will be treated as an irregular account.</li>

								<li>After the maturity date, payment on irregular accounts will be made after deducting the penalty amount maximum to the limit of interest earned on such account. No deductions will be made in the principal amount of such accounts. The company will repay the principal amount and interest to a nominee, in case of death of the depositor, at which it is accepted by RD plan in India.</li> 
								<li>TDS rates will be as applicable from time  to time as per the Income Tax Act, 1961 and Income Tax rules calculation of TDS in respect of interest on FD/RD or DD</li>
								<li>Preclosure or foreclosure is not permissible in case of Closed-Ended FD,DD, RD and Unnati</li> 										
							</ul>
																

						</p>

						</div><!-- tab-pane -->
						
						<div class="tab-pane fade" id="tab-5-3">

							<p>
								
							<ul><li>None</li>
							 </ul>  </p>

						</div><!-- tab-pane -->
						<div class="tab-pane fade" id="tab-5-4">

							<p>
								<ul>
							<li>ID PROOF (Any one)– PAN CARD / PASSPORT/ VOTER ID CARD/ AADHAR CARD / DRIVING LICENSE </li>
							<li>Local Address Proof – Required</li>
							<li>Permanent Address Proof (Any one)– VOTER ID CARD/ AADHAR CARD/ PASSPORT/ RATION CARD / ELECTRICITY/ANY UTILITY BILL/ MOBILE BILL/ GAS CONNECTION WITH LATEST SLIP/ RENT AGREEMENT </li>
								</ul>
							</p>

						</div><!-- tab-pane -->
					</div><!-- tab-content -->

				</div><!-- tabs -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
 

	<section class="full-section half-image" style="padding:100px 0 80px; margin-bottom:0;">
		
		<div class="half-image-left parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/loans/rd.jpg);">
			
			<img src="static/images/loans/rd.jpg" alt="">
			
		</div><!-- half-image-left -->
	
		<div class="full-section-container">
		
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-offset-7 col-md-4">
					
						<div class="headline">
					
							
							<h2>Move one step closer <span>to your dream</span></h2>
							
						</div><!-- headline -->
						
						<p>Deposit with KCG India's Recurring Deposits Plan, one of India’s driving Nidhi companies, today.</p>
						
						<br>
						
						<a class="btn btn-default" href="#">Apply Now</a>
						
					</div><!-- col -->
				</div><!-- row -->
			</div><!-- container-fluid -->
			
		</div><!-- full-section-container -->
	</section><!-- full-section -->


	
				
</div><!-- PAGE CONTENT -->

{% endblock body %}