{% extends "base.html" %}
{% block title %}Regulatory Disclosures{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Regulatory Disclosures</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				<div class="headline text-center">
					
					<p>Features</p>
					<h2>Regulatory <span>Disclosures</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container disclosure">
		<div class="row">
			<div class="col-sm-12">

				<h3>View the regulatory disclosures that determine the banking standards we follow:-</h3>


				<h2>Base III <span>Disclosures</span></h2>

				   <p><a href="#">Basel III Disclosures as on June 21, 2021</a></p>

			 
				
			

				 
				

			</div><!-- col -->
		
			<div class="col-sm-12">

			  <h2>Capital Composition and Reconciliation</h2>

				   <p><a href="#">Capital composition and Reconciliation as on June 21, 2021</a></p>

			 
				

			</div><!-- col -->
		
			<div class="col-sm-12">

				  <h2>Leverage Ratio Disclosure</h2>

				   <p><a href="#">Leverage Ratio Disclosure as on June 21, 2021</a></p>

			 
			

			</div><!-- col -->
		
			<div class="col-sm-12">

				  <h2>Liquidity Coverage Ratio Disclosure</h2>

				   <p><a href="#">Liquidity Coverage Ratio Disclosure as on June 21, 2021</a></p>

			 
			

			</div><!-- col -->
		
			
		</div><!-- row -->
	</div><!-- container -->
	
	

	
</div><!-- PAGE CONTENT -->

{% endblock body %}