{% extends "base.html" %}
{% block title %} Services For Differently Abled {% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
    <div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li class="active">Services For Differently Abled</li>
                    </ol>
                    
                </div><!-- col -->
            </div><!-- row -->
        </div><!-- container -->
    </div><!-- page-header -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <div class="headline text-center">
                    
                    
                    <h2>Services For Differently Abled</span></h2>
                    
                </div><!-- headline -->

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h2>Services for Differently Abled Customers</span></h2>
                   <hr>
                <p>As per RBI circulars DBOD. No. Leg BC. 91 /09.07.005/2007-08 dated June 4, 2008; DBOD.No.Leg.BC.123/09.07.005/2008-09 dated 13th April 2009, DBOD.No.Leg.BC.38 /09.07.005/2012-13 dated 5th September 2012, DBOD.No.Leg.BC.113 09.07.005/ 2013-14 dated May 21, 2014 and DBR.No.Leg.BC.96/09.07.005/2017-18 dated 9th November, 2017 all banking services are being provided to persons with disabilities.</p>

                <p>KCG India Nidhi Ltd. is committed to provide all our services to Differently Abled Customers without Discrimination. The RBI guidelines have been upheld by the internal circular number -. RB/PSNs/CIR/4153. These circulars uphold the bank’s commitment to offer all its banking services and products to Differently Abled Customers without discrimination.</p>

                <p>We are committed to make our websites, net banking and mobile banking compliant to Web Content Accessibility Guidelines (WCAG).</p>

                <p>Our bank has accessible ATMs set up as per the ‘IBA Standards on Accessible ATM’.</p>

                <p>In case of a differently abled customer facing any difficulty in receiving any services of the bank, please write to info@jayantindia.com or call us at 0124-4006298 for redressal.</p>

                   

            </div><!-- col -->
        </div><!-- row -->
    </div><!-- container -->

    

    <br>
    

</div><!-- PAGE CONTENT -->

{% endblock body %}