{% extends "base.html" %}
{% block title %}Terms & Policies{% endblock title %}

{% block body %}

<!-- PAGE CONTENT -->
<div id="page-content">
			
	<div id="page-header" class="parallax" data-stellar-background-ratio="0.1" style="background-image:url(static/images/backgrounds/page-header-1.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li class="active">Terms & Policies</li>
					</ol>
					
				</div><!-- col -->
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- page-header -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="headline text-center">
					
					
					<h2>Terms &<span>Policies</span></h2>
					
				</div><!-- headline -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				
				<div class="tabs pdf-i">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-1-1" data-toggle="tab">Board Approoved Policies</a></li>
						<li><a href="#tab-1-2" data-toggle="tab">Others</a></li>
						<li><a href="#tab-1-3" data-toggle="tab">Terms & Conditions</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane fade in active" id="tab-1-1">

							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/board-approved-policies/Customer-Privacy-Policy.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Customer Privacy Policy </a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/board-approved-policies/Customer-Protection-Policy-Limiting-Customers-Unauthorised-Electronic-Banking-Transaction.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Customer Protection Policy </a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/board-approved-policies/Deposit_Policy_of_the_Bank.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Deposit Policy of the Bank</a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/board-approved-policies/Doorstep-Banking-Policy-Final.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Doorstep Banking Policy</a>
									</div>
								</div>
							</div><!-- col -->

						</div><!-- tab-pane -->






						<div class="tab-pane fade" id="tab-1-2">

							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/others/Charter-of-Customer-Rights.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Charter of Customer Rights </a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/others/DuesCollectionSecuritiesRepossessionPolicy.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Dues Collection & Securities Repossession Policy </a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/others/FATCA.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> FATCA</a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
										
									<div>
										<a href="static/Terms-&-Policies/others/GrievanceRedressalPolicy.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Grievance Redressal Policy </a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/others/Model-code-conduct-Sourcing.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Code of Conduct</a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
										
									<div>
										<a href="static/Terms-&-Policies/others/Timelines-For-Credit-Decision.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Timelines For Credit Decision </a>
									</div>
								</div>
							</div><!-- col -->

						</div><!-- tab-pane -->






						<div class="tab-pane fade" id="tab-1-3">

							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/T&C/Terms-and-Conditions-for-Debit-Cards.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Debit Card</a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/T&C/UPI-TC.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> UPI</a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/T&C/TermDepositTC.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Term Deposits</a>
									</div>
								</div>
							</div><!-- col -->
							<div class="col-sm-12">
								<div class="boxx" style="border: 1px solid #efefef;padding: 20px">
									
									<div>
										<a href="static/Terms-&-Policies/T&C/SavingsAccountsTC.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i> Savings Accounts</a>
									</div>
								</div>
							</div><!-- col -->	

						</div><!-- tab-pane -->
						
						
					</div><!-- tab-content -->

				</div><!-- tabs -->

			</div><!-- col -->
		</div><!-- row -->
	</div><!-- container -->
	
	
	
</div><!-- PAGE CONTENT -->

{% endblock body %}